<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="headerContainer" >
        <nav class = "item1Header"><a href="../index.html"><h1>HOME</h1></a></nav>
        <nav class = "item2"><a href="plan.html"><h1>PLAN YOUR VISIT</h1></a></nav>
        <nav class = "item3"><a href="about.html"><h1>ABOUT US</h1></a></nav>
        <nav class = "item4"><a href="contact.html"><h1>CONTACT US</h1></a></nav>
    </header>
    <div class = "image-banner">
        <img src="../static/aboutBanner.png" alt="Photo of Incline" width="100%" height="100%" id="banner">
        <div class="our-story">Our Story</div>
        <div class="read-below">Read More Below</div>
    </div>
    <div class="main">
        <p id="intro">
            <img src="../static/snowyIncline.png" alt="Snowy Incline" width="400" height= auto id="snowIncline">
            <br><br>
            The Duquesne Incline is one of those which follows very closely the tracks of an early coal hoist. Old newspapers indicate the existence of such a conveyance as early as 1854. Residents apparently referred to it as "Kirk Lewis' incline" and located it on the present site of The Duquesne Incline's Upper Station. Grandview Avenue was then the High Street, and the area was just beginning to be converted from farmland to homesites. This pleasantly-situated acreage was an excellent area to absorb some of the expanding population of the city, but the problem of easy access was still to be solved.
            Although plans for a freight and passenger incline are known to have existed much earlier, financial backing was exceedingly hard to find--even the modest sum of $47,000--and actual construction was delayed. Eventually, of course, difficulties were overcome and the Incline was built. It was opened to the public May 20, 1877. The Duquesne Incline was the first Pittsburgh incline designed and built by Samuel Diescher, for Kirk Bigham and Associates. Mr. Diescher, an engineer, had become the country's foremost builder of inclines. He was also to design and build most of those that followed.
            <br><br>
            At the time of its public opening, it was one of four inclined planes serving the summit of Coal Hill, which later came to be known as Mount Washington. The Duquesne Incline was operated, from 1877 until 1962 by The Duquesne Inclined Plane Company. From 1964 until the present, the Incline has been operated by the Society for the Preservation of The Duquesne Heights Incline; it has been owned by the Port Authority of Allegheny County.
            <br><br>
            The Society for the Preservation of the Duquesne Heights Incline. The Society for the Preservation of the Duquesne Heights Incline was formed in 1964 by the Duquesne Heights/Mount Washington neighborhood group that had rescued, repaired, and reopened the Incline in 1963. The purpose was to continue to restore and rehabilitate the cars, equipment, and both stations, and to establish the entire operation as a reliable commuter facility and a popular visitor attraction.  Memberships in the society are available, call for details.
        </p>
   
        <h2 id="fun-fact">FUN FACTS</h2>
        <!-- WILL FIX LATER  -->
        <table class="table" >
            <tr>
                <th>Name</th>
                <th>Description</th>
            <tr>
                <td>Opened to the Public</td>
                <td>May 20, 1877</td>
            </tr>
            <tr>
                <td>Cost to Build</td>
                <td>$47,000</td>
            </tr>
            <tr>
                <td>Length of Track</td>
                <td>794 ft</td>
            </tr>
            <tr>
                <td>Elevation</td>
                <td>400 ft</td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>30.5 degrees</td>
            </tr>
            <tr>
                <td>Speed</td>
                <td>6 mph</td>
            </tr>
            <tr>
                <td>Passenger Capacity</td>
                <td>18 per cart</td>
            </tr>
        </table>  
    </div>
    <footer class="footerContainer"> 
        <div class = "item1">
            <h3>CONTACT INFO</h3>
            <h4>Mailing Address</h4>
            <p>1220 Grandview Ave. <br></br>
                Pittsburgh, PA. 15211</p>
            <h4>Phone & Email</h4>
            <p>(412) 381-1665 <br></br>
                duq.incline@duquesneincline.org</p>
            <nav><a href="contact.html"><h4>Sign Up for Mailing List &rarr;</h4> </a></nav>
            <!-- found documentation to do right arrow symbol -->
        </div>
        <div class = "item2">
            <h3>VISITING</h3>
            <h4>Hours</h4>
            <p>Everyday from: 6:30 a.m. <br></br> to 12:30 a.m.</p>
            <nav><a href="plan.html"><h4>Fares and More &rarr;</h4></a></nav>
        </div>
        <div class = "item3">  
            <h3>STAY CONNECTED</h3>
            <h4>Social Media</h4>
            <p>Facebook</p>
            <p>Instagram</p>
            <nav><a href="citation.html"><h4>Citation Page &rarr;</h4></a></nav>
        </div>
    </footer>
</body>
</html>