<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="headerContainer" >
        <nav class = "item1Header"><a href="../index.html"><h1>HOME</h1></a></nav>
        <nav class = "item2"><a href="plan.html"><h1>PLAN YOUR VISIT</h1></a></nav>
        <nav class = "item3"><a href="about.html"><h1>ABOUT US</h1></a></nav>
        <nav class = "item4"><a href="contact.html"><h1>CONTACT US</h1></a></nav>
    </header>
    <div class = "citationPage">
        <h2>IMAGE CITATIONS</h2>
        <h4>Home Page</h4>
        <p>Banner Image: https://en.wikipedia.org/wiki/File:Downtown_Pittsburgh_from_Duquesne_Incline_in_the_morning.jpg</p>
        <p>Explore Pittsburgh Image: https://riversofsteel.com/</p>
        <p>Tour Pittsburgh Image: https://www.mollystrolleyspgh.com/</p>
        <p>Gift Shop Images: https://www.duquesneincline.org/index.html</p>
        <p>Our Beginnings Image: https://nohomejustroam.com/riding-duquesne-incline-pittsburgh-pa/</p>

        <h4>Plan Your Visit</h4>
        <p>Banner Image: Dave Di Cello https://www.etsy.com/shop/DaveDiCello?ref=shop-header-name&listing_id=1656191376&from_page=listing</p>
        <p>Plan a Field Trip Image: Bradley Photography https://www.etsy.com/listing/822768822/duquesne-incline-inside-the-cable-car-at?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=duquesne+incline+art&ref=sr_gallery-1-1&frs=1&content_source=230a2593adef7316291755f6198df67e21422608%253A822768822&organic_search_click=1&logging_key=230a2593adef7316291755f6198df67e21422608%3A822768822 </p>
        
        <h4>About Us</h4>
        <p>Banner Image: Dave Di Cello https://www.etsy.com/il-en/listing/270530525/four-seasons-of-the-duquesne-incline-in</p>
        <p>Our Story Image: City Life Adventures https://www.etsy.com/listing/1658545035/duquesne-incline-in-snow-print</p>
        
        <h4>Contact Us</h4>
        <p>Banner Image: Dave Di Cello https://www.etsy.com/il-en/listing/224786632/the-sun-rises-on-a-beautiful-winter</p>
        <p>Contact Us Image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.stationsquare.com%2FDuquesne-Incline%2F&psig=AOvVaw1uLWqduad5TROqgpfjJpQ2&ust=1742430950743000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLie1KDzlIwDFQAAAAAdAAAAABAE</p>
        <p>Frequently Asked Questions Image: Bradley Photography https://www.etsy.com/listing/1170440244/toy-story-the-duquesne-incline</p>

        <h2>INFORMATION CITATIONS</h2>
        <p>Duquesne Incline (used for all information): https://www.duquesneincline.org/index.html</p>
        <p>Weatherstack API (API): https://weatherstack.com/documentation </p>
        <p>Google Maps (iFrame): https://www.google.com/maps/?entry=wc</p>
        <p>YouTube (iFrame): https://www.youtube.com/embed/IXVdoOuDYj4?si=50h47OleIvvb-4UI</p>
        <p>Used to Learned Flexbox: https://www.youtube.com/watch?v=phWxA89Dy94&ab_channel=SlayingTheDragon</p>
        <p>Used to Create Gallery: https://www.w3schools.com/howto/howto_css_portfolio_gallery.asp</p>
        <p>Used to Format my Form: https://www.w3schools.com/css/css_form.asp</p>
    </div>
    <footer class="footerContainer"> 
        <div class = "item1">
            <h3>CONTACT INFO</h3>
            <h4>Mailing Address</h4>
            <p>1220 Grandview Ave. <br></br>
                Pittsburgh, PA. 15211</p>
            <h4>Phone & Email</h4>
            <p>(412) 381-1665 <br></br>
                duq.incline@duquesneincline.org</p>
            <nav><a href="contact.html"><h4>Sign Up for Mailing List &rarr;</h4> </a></nav>
            <!-- found documentation to do right arrow symbol -->
        </div>
        <div class = "item2">
            <h3>VISITING</h3>
            <h4>Hours</h4>
            <p>Everyday from: 6:30 a.m. <br></br> to 12:30 a.m.</p>
            <nav><a href="plan.html"><h4>Fares and More &rarr;</h4></a></nav>
        </div>
        <div class = "item3">  
            <h3>STAY CONNECTED</h3>
            <h4>Social Media</h4>
            <a href="https://www.facebook.com/TheDuquesneIncline"><p>Facebook</p></a>
            <a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh"><p>Yelp</p></a>
            <nav><a href="citation.html"><h4>Citation Page &rarr;</h4></a></nav>
        </div>
    </footer>
</body>
</html>