<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <header class="headerContainer" >
        <nav class = "item1Header"><a href="../index.html"><h1>HOME</h1></a></nav>
        <nav class = "item2"><a href="plan.html"><h1>PLAN YOUR VISIT</h1></a></nav>
        <nav class = "item3"><a href="about.html"><h1>ABOUT US</h1></a></nav>
        <nav class = "item4"><a href="contact.html"><h1>CONTACT US</h1></a></nav>
    </header>
    <div class = "image-banner">
        <img src="../static/contactBanner.png" alt="Photo from incline" width="100%" height="100%" id="banner">
    </div>
    <footer class="footerContainer"> 
        <div class = "item1">
            <h3>CONTACT INFO</h3>
            <h4>Mailing Address</h4>
            <p>1220 Grandview Ave. <br></br>
                Pittsburgh, PA. 15211</p>
            <h4>Phone & Email</h4>
            <p>(412) 381-1665 <br></br>
                duq.incline@duquesneincline.org</p>
            <nav><a href="contact.html"><h4>Sign Up for Mailing List &rarr;</h4> </a></nav>
            <!-- found documentation to do right arrow symbol -->
        </div>
        <div class = "item2">
            <h3>VISITING</h3>
            <h4>Hours</h4>
            <p>Everyday from: 6:30 a.m. <br></br> to 12:30 a.m.</p>
            <nav><a href="plan.html"><h4>Fares and More &rarr;</h4></a></nav>
        </div>
        <div class = "item3">  
            <h3>STAY CONNECTED</h3>
            <h4>Social Media</h4>
            <p>Facebook</p>
            <p>Instagram</p>
            <nav><a href="citation.html"><h4>Citation Page &rarr;</h4></a></nav>
        </div>
    </footer>
</body>
</html>