<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <header class="headerContainer" >
        <nav class = "item1Header"><a href="../index.html"><h1>HOME</h1></a></nav>
        <nav class = "item2"><a href="plan.html"><h1>PLAN YOUR VISIT</h1></a></nav>
        <nav class = "item3"><a href="about.html"><h1>ABOUT US</h1></a></nav>
        <nav class = "item4"><a href="contact.html"><h1>CONTACT US</h1></a></nav>
    </header>
    <div class = "image-banner">
        <img src="../static/planBanner.png" alt="Photo of Incline" width="100%" height="100%" id="banner">
    </div>
    <div class = "faresContainer">
        <div class = "item1">
            <h2>GENERAL FARES</h2>
            <p> Adults (Ages 12-64) $2.50 Each Way or $5.00 Round Trip Children (Ages 6-11) $1.25 Each Way or $2.50 Round Trip  
                Children 5 and Under Free <br></br>
                
                University of Pittsburgh Students Free, with proper I.D. 
                Carnegie Mellon Students Free, with proper I.D. 
                Chatham University Students Free, with proper I.D.
            </p>
        </div>
        <div class = "item2">
            <h2>PLANNING FOR A GROUP?</h2>
            <p>
                Group Rates are Valid for Any Group of Ten or More People: Adults (Ages 12-64) $1.75 Each Way or $3.50 Round Trip 
                hildren (Ages 6-11) $1.00 Each Way or $1.75 Round Trip
                <br></br>
                Cash fares as well as Port Authority bus passes and tickets are accepted as payment. Seniors age 65 or older who present a blue or yellow PRT card or a Senior Connect Card ride free. Wheelchair accessibility is via the Upper Station located 1220 Grandview Avenue Pittsburgh, Pa. 15211.
            </p>
        </div>
    </div>
    <div class = "map">
        <h2>DIRECTIONS</h2>
        <p> Use the following map to find directions to the Duquesne Incline! Our address is 1197 West Carson Street Pittsburgh, PA 15219.</p>
        <iframe id = "mapAPI" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6073.20160449464!2d-80.02012282341201!3d40.4398375714359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f6af24753323%3A0x391d7b79fc54985b!2sDuquesne%20Incline!5e0!3m2!1sen!2sus!4v1742830058428!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class = "videoContainer">
        <div class = "item1">
            <h2>PREVIEW OF OUR CABLE CAR</h2>
            <p>View a preview of the cable car experience!</p>
        </div>
        <div class = "VideoItem2">
            <!-- USE GOOGLE API NOT IFRAME -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IXVdoOuDYj4?si=50h47OleIvvb-4UI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class = "FAQContainer">
        <div class = "item1">
            <h2>PLAN A FIELD TRIP</h2>
            <img src="../static/fieldTrip.png" id="duquesneIncline" width="600", height = "auto">
        </div>
        <div class = "item2faq">
            <br></br><br></br>
            <h4>I want to bring my class on a field trip, how can I do that?</h4>
            <p>A free field trip program is available for students and youth groups of ten or more daily – except Saturdays and Sundays after 12:00 noon due to weekend crowds and limited space.</p>
            <p>The program includes:

                A teacher's lesson packet for students' specific grade level, a round trip ride on the Duquesne Incline,
                
                a history of inclines in Pittsburgh, a discussion about Pittsburgh's industrial past,
                
                a visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it, 
                
                a panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers, 
                
                a brief history of the French and Indian War from which the city arose</p>
        </div>
    </div>
    <footer class="footerContainer"> 
        <div class = "item1">
            <h3>CONTACT INFO</h3>
            <h4>Mailing Address</h4>
            <p>1220 Grandview Ave. <br></br>
                Pittsburgh, PA. 15211</p>
            <h4>Phone & Email</h4>
            <p>(412) 381-1665 <br></br>
                duq.incline@duquesneincline.org</p>
            <nav><a href="contact.html"><h4>Sign Up for Mailing List &rarr;</h4> </a></nav>
            <!-- found documentation to do right arrow symbol -->
            <p id="copyYear">Copyright &copy; 2009 . All Rights Reserved. </p>
        </div>
        <div class = "item2">
            <h3>VISITING</h3>
            <h4>Hours</h4>
            <p>Everyday from: 6:30 a.m. <br></br> to 12:30 a.m.</p>
            <nav><a href="plan.html"><h4>Fares and More &rarr;</h4></a></nav>
        </div>
        <div class = "item3">  
            <h3>STAY CONNECTED</h3>
            <h4>Social Media</h4>
            <a href="https://www.facebook.com/TheDuquesneIncline"><p>Facebook</p></a>
            <a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh"><p>Yelp</p></a>
            <nav><a href="citation.html"><h4>Citation Page &rarr;</h4></a></nav>
        </div>
    </footer>
</body>
</html>