<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <header id="webname" >
        <!-- <h1 >Zoe Robinson</h1>  -->
        <nav>
            <a href="../index.html">HOME</a>
            <a href="plan.html">PLAN YOUR VISIT</a>
            <a href="about.html">ABOUT US</a>
            <a href="contact.html">CONTACT US</a>
        </nav>
    </header>
    <footer id="footPiece"> 
        <div class = "footerContainer">
            <div class = "item1">
                <h3>CONTACT INFO</h3>
                <p>Mailing Address</p>
                <p>Phone & Email</p>
                <p>Sign Up for Mailing List</p>
            </div>
            <div class = "item2">
                <h3>VISITING</h3>
                <p>Hours</p>
                <p>Fares and More</p>
            </div>
            <div class = "item3">  
                <h3>STAY CONNECTED</h3>
                <p>Facebook</p>
                <p>Instagram</p>
            </div>
        </div>
    </footer>
</body>
</html>