/* ALL PAGES */
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1{
    font-size: 1.3rem;
    color: #49496D;
}

h2 {
    font-weight: 500;
    color: #49496D;
}

h4{
    font-weight: bold; 
}

a {
    text-decoration: none;  
}

/* HEADER */
.headerContainer {
    display: flex;
    padding: 10px;
    gap: 50px;
    background-color: white;
}

.headerContainer > nav a{
    display: flex;
    text-decoration: none;
    color: #49496D;
}

.item1Header {
    flex-grow: 1;
    text-indent: 10px;
}

/* FOOTER */

.footerContainer {
    display: flex;
    justify-content: space-around;
    background-color: #E7E7E7;
    padding: 20px;
    text-align: left;
}

.footerContainer a {
    color: black;
}

/* ABOUT PAGE */
.image-banner {
    position: relative;
    text-align: center;
    color: white;
  }

#snowIncline {
    float: left;
    padding: 20px;
}

#fun-fact {
    clear: both;
    display: block;
    margin: 20px;
}

table th, td {
    margin: 20px auto; 
    width: 40%;
    border: 1px solid #40494B;
    text-align: center;
    padding: 10px;
    border-style: solid;
} 

table {
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); 
}

/* PLAN YOUR VISIT PAGE */
.faresContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
    background-color: #F0F0F0;
}

.faresContainer > div {
    flex: 1;
}

.map{
    padding: 20px;
}

#mapAPI {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.videoContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.videoContainer > div {
    flex: 1;
}

.VideoItem2{
    margin-top: 70px;
}

/* HOME PAGE */
.infoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: none;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
    margin-right: 100px;
}

.InfoItem1 > div{
    flex: 1;
    text-align: center;
}
 
.ourContainers {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    gap: 20px;
}

.image-text-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
}

.item2 img {
    max-width: auto;
    height: 100%;
}

.citem3 {
    max-width: 100%; 
}

.mainContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
} 

.gallery {
border: 1px solid #ccc;
}

.gallery img {
width: 100%;
height: auto;
}

.description {
padding: 15px;
text-align: center;
}


.hoverImplementation {
padding: 0 6px;
float: left;
width: 24.99999%;
}

#aboutUs{
    font-weight: 500;
    color: black;
}

#duquesneIncline{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

/* CONTACT PAGE */
.contactInfoContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    text-align: left;
}

.item1i {
    flex: 1;
}

label{
    text-align: center;
    width: 100%;
}



.contactFormContainer {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

label{
    padding: 6px;
}

input{
    padding: 3px;
    
} 


input[type="submit"] {
    background-color: #49496D;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 5px;
}

.FAQContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    text-align: left;
}

.FAQContainer > div {
    flex: 1;
}

.citationPage{
    padding: 20px;
    text-align: left;
    background-color: #F0F0F0;
}