* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#webname nav {
    display: flex;
    gap: 20px; 
}

#webname nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin: 0 15px; 
}

#webname {
    background-color: #9E9EB6;
    padding: 20px;
}

.image-banner {
    position: relative;
    text-align: center;
    color: white;
  }

.our-story {
    position: absolute;
    bottom: 70%; 
    left: 5%;
    font-size: 5rem;
    font-weight: bold;
    color: #40494B;
}

.read-below {
    position: absolute;
    bottom: 65%; 
    left: 6%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #40494B;
}

#snowIncline {
    float: left;
    padding: 20px;
}

table, th, td {
    margin: 20px auto; 
    width: 40%;
    clear: both;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

#fun-fact {
    clear: both;
    display: block;
    margin-top: 20px;
}

